pandas
tqdm
wordfreq
pympi-ling
unidecode
openpyxl
pynini==2.1.6
ipykernel
pytest
graphviz
pydot
fire
pyyaml
unidecode
loguru
jsonschema
dotenv
watchdog
streamlit
levenshtein
camel_converter
numba
nltk
scipy
