<h2 class="text-2xl font-semibold mb-4 border-b pb-2">Inflect Verb Root</h2>
<form method="post">
    {% include 'partials/verb_root_dropdown.html' %}
    {% include 'partials/verb_feature_dropdowns.html' %}

    {% if mode == "test" %}

    <div class="mb-4">
        <label for="expected_inflected_form" class="block font-medium text-gray-700">Expected Inflected Form:</label>
        <input
            type="text"
            id="expected_inflected_form"
            name="expected_inflected_form"
            class="input-field"
            required
        {% if expected_inflected_form %}
            value="{{ expected_inflected_form }}"
        {% endif %}
        >
    </div>

    {% endif %}

    <button type="submit"
            name="submit_inflect"
            class="btn-primary">
        Inflect
    </button>
</form>