    <div class="mb-4">
        <label for="verb_root" class="block text-sm font-medium text-gray-700 mb-1">Enter Verb Root:</label>
            <select id="verb_root" name="verb_root"
                    class="input-field">
                {% for verb_row in verb_lexicon %}
                    <option
                        value="{{ " ".join(verb_row) }}"
                        {% if inflect_input['verb_root'] == " ".join(verb_row) %}
                            selected
                        {% endif %}
                    >
                    {{ " ".join(verb_row) }}
                    </option>
                {% endfor %}
            </select>
    </div>